go 1.18

use (
	// Восьмой урок
	C:\Users\serge\Documents\GitHub\geekbrains\go-level-1\lesson-8\config
	C:\Users\serge\Documents\GitHub\geekbrains\go-level-1\lesson-8\webapp
	// Девятый урок
	C:\Users\serge\Documents\GitHub\geekbrains\go-level-1\lesson-9\config
	C:\Users\serge\Documents\GitHub\geekbrains\go-level-1\lesson-9\webapp
	// Десятый урок
	C:\Users\serge\Documents\GitHub\geekbrains\go-level-1\lesson-10\config
	C:\Users\serge\Documents\GitHub\geekbrains\go-level-1\lesson-10\webapp
	C:\Users\serge\Documents\GitHub\geekbrains\go-level-1\lesson-10\fibonacci
)
